.button {
  /* Primary/400 */
  background: var(--color-button);
  /* Primary/400 */
  border: 2px solid var(--color-button);
  border-radius: 12px;
  padding: 1rem 4rem;
  cursor: pointer;
  /* Body/Regular */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* White/100 */
  color: #ffffff;
  transition: background 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &__children {
    order: 1;
  }

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin: 0 0.5rem;
    order: 2;
  }

  &:hover {
    background: var(--color-primary);
  }
}
