:root {
  // colors
  --color-primary: #5A4AF4;
  --color-secondary: #1EA5FC;
  --color-tertiary: #B66DFF;
  --color-success: #05CE91;
  --color-error: #FF6161;
  --color-warning: #FFAD49;
  --color-background: #121829;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

body {
  width: 100%;
  background: url('./assets/img/background.png'), var(--color-background);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 100% 10%;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1920px) {
  :root {
    font-size: 18px;
  }
}